/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*RESET*/


/*COMMON*/

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
    display: block;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.right_align {
    text-align: right;
}

.txt {
    font-weight: 500;
    color: #32495b;
    margin-bottom: 45px;
    margin-top: 20px;
    line-height: 25px;
}

.button {
    background-color: #fe775a;
    color: white;
    font-size: small;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
/*COMMON*/



/*HEADER START*/

/*Nav START*/

nav {
    background-color: #f4f9fd;
}

/*Nav top START*/

.nav_top {
   border-bottom: 1px solid #32495b;
}

.lang_contact, 
.search_login {
    width: 50%;
}

.menu {
    list-style-type: none;
}

.menu li {
    display: inline-block;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
 
.menu li a {
   text-decoration: none;
   color: #32495b;
   font-weight: 300;
   font-weight: 600;
   font-size: smaller;
}

.menu .search_icon {
    color: #00a4bd;
}


.menu .border_menu {
    border-right: 1px solid #32495b;
}

.menu .login_button {
    border: 1px solid #fe775a;
    color: #fe775a;
    font-weight: 500;
    font-size: x-small;
    padding: 8px;
    border-radius: 5px;
}

.menu .getfree {
    color: white;
}


/*Nav top End*/

/*Nav bot start*/


.nav_bottom {
    background-color: white;
    padding-top: 20px;
}

.logo_nav {
    width: 12%;
}

.site_search {
    width: 88%;
}

.logo_container > img {
    height: 27px;
}

.site_search li {
    padding-top: 8px;
}

.site_search li a {
    font-weight: 500;
}
/*Nav bot End*/
/*Nav End*/

/*JUmbotron start*/

.jumbotron {
    position: relative;
    height: 672px;
    background-size: cover;
    background-image: url(../img/jumbotron.png);
  
}

.teaser {
    position: absolute;
    top: 100px;
    width: 35%;

}

.teaser h1 {
    font-size: xxx-large;
    color: #32495b;
    
}

/*test
.teaser p {
    margin-bottom: 45px;
    margin-top: 20px;
    line-height: 25px;
}
*/
.teaser a {
    font-size: smaller;
    font-weight: 600;
    padding: 21px 34px;
}

.teaser :last-child {
    font-size: x-small;
    margin-top: 30px;

}

/*JUmbotron End*/

/*HEADER END*/

/*Divider*/

.divider {
    background-color: #afebe4;
    padding: 40px;
    border-bottom: 4px solid #0c325a;
    border-top: 4px solid #0c325a;
}

/*Divider*/






/*MAIN START*/

/*fisrst section benefit start*/
.benefit {
    background-color: #f4f9fd;
}

.benefit_header {
    padding-top: 400px;
    margin: auto;
    position: relative;
    background-color: #f4f9fd;
}

.benefit_header .centered img {
    height: 250px;
    width: auto;
}

.benefit_txt {
    text-align: center;
    color: #32495b;

}
/*fisrst section benefit end*/


/*MAIN END*/




/*FOOTER START*/
/*FOOTER END*/

