/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*RESET*/


/*COMMON*/

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
    display: block;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.right_align {
    text-align: right;
}

.txt {
    font-weight: 500;
    color: #32495b;
    margin-bottom: 45px;
    margin-top: 20px;
    line-height: 25px;
}

.button {
    background-color: #fe775a;
    color: white;
    font-size: small;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.spacing {
    padding-bottom: 100px;
}

.bg_color {
    background-color: #f4f9fd;
}

.txt_align {
    text-align: center;
}
/*COMMON*/



/*HEADER START*/

/*Nav START*/

nav {
    background-color: #f4f9fd;
}

/*Nav top START*/

.nav_top {
   border-bottom: 1px solid #32495b;
}

.lang_contact, 
.search_login {
    width: 50%;
}

.menu {
    list-style-type: none;
}

.menu li {
    display: inline-block;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
 
.menu li a {
   text-decoration: none;
   color: #32495b;
   font-weight: 300;
   font-weight: 600;
   font-size: smaller;
}

.menu .search_icon {
    color: #00a4bd;
}


.menu .border_menu {
    border-right: 1px solid #32495b;
}

.menu .login_button {
    border: 1px solid #fe775a;
    color: #fe775a;
    font-weight: 500;
    font-size: x-small;
    padding: 8px;
    border-radius: 5px;
}

.menu .getfree {
    color: white;
}


/*Nav top End*/

/*Nav bot start*/


.nav_bottom {
    background-color: white;
    padding-top: 20px;
}

.logo_nav {
    width: 12%;
}

.site_search {
    width: 88%;
}

.logo_container > img {
    height: 27px;
}

.site_search li {
    padding-top: 8px;
}

.site_search li a {
    font-weight: 500;
}
/*Nav bot End*/
/*Nav End*/

/*JUmbotron start*/

.jumbotron {
    position: relative;
    height: 672px;
    background-size: cover;
    background-image: url(../img/jumbotron.png);
  
}

.teaser {
    position: absolute;
    top: 100px;
    width: 35%;

}

.teaser h1 {
    font-size: xxx-large;
    color: #32495b;
    
}

/*test
.teaser p {
    margin-bottom: 45px;
    margin-top: 20px;
    line-height: 25px;
}
*/
.teaser a {
    font-size: smaller;
    font-weight: 600;
    padding: 21px 34px;
}

.teaser :last-child {
    font-size: x-small;
    margin-top: 30px;

}

/*JUmbotron End*/

/*HEADER END*/

/*Divider*/

.divider {
    background-color: #afebe4;
    padding: 40px;
    border-bottom: 4px solid #0c325a;
    border-top: 4px solid #0c325a;
}

/*Divider*/






/*MAIN START*/

/*fisrst section benefit start*/


.benefit_header {
    padding-top: 400px;
    margin: auto;
    position: relative;
    background-color: #f4f9fd;
}

.benefit_header .centered img {
    height: 250px;
    width: auto;
}

.benefit_txt {
    text-align: center;
    color: #32495b;

}

/*benefit first row start*/


.box_awesome {
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.25);
    background-color: white;
}

.left_freehub {
    position: relative;
    width: 40%;
    padding-left: 154px;
    padding-top: 65px;
}

.right_freehub {
    width: 60%;
    padding-top: 63px;
    padding-right: 10px;
}

.left_freehub img {

    height: 150px;
    width: auto;
}

.left_freehub a {
    padding: 21px 48px;
    position: absolute;
    top: 245px;
    left: 169px;
}

.right_freehub h3 {
    color: #32495b;
    font-size: x-large;
}

.right_freehub .txt {
    display: inline-block;
    padding-top: 10px;
    padding-right: 15px;
   
}

.right_freehub i {
    color: #fe775a;
    padding-right: 5px;
}

.right_freehub :nth-child(2) {
    padding-left: 10px;
}

/*benefit first row end*/


/*benefit second row start*/

.left_col, .right_col {
    padding-top: 20px;
    padding-bottom: 50px;
    width: 30%;
    background-color: white;
}


.mid_col {
    padding-top: 20px;
    margin-left: 2.5%;
    padding-bottom: 50px;
    width: 35%;
    background-color: white;
    margin-right: 2.5%;
}

/*left col*/

.left_col img {
    height: 150px;
}

.left_col h3 {
    color: #32495b;
    font-size: x-large;
    font-weight: 700;
}

.left_col h4 {
    color: #32495b;
    font-weight: 700;
}




.left_col hr {
    color: #32495b;
    margin-left: 92px;
    margin-right: 95px;
    margin-bottom: 40px;
    margin-top: 80px;
}


.feature_list .menu li {
    display: block;
    padding-top: 0px;
    padding-bottom: 0;
    padding-left: 69px;

}

.feature_list .menu{
    padding-top: 35px;
}

.feature_list i {
    color: #fe775a;
    padding-right: 18px;
}

.col_button {
    text-align: center;
    padding-top: 59px;
}

.col_button a {
    font-weight: 500;
    border-radius: 5px;
    padding: 23px 40px;
}
/*left col*/


/*right col*/

.right_col img {
    height: 150px;
}

.right_col h3 {
    color: #32495b;
    font-size: x-large;
    font-weight: 700;
}

.right_col h4 {
    color: #32495b;
    font-weight: 700;
}



.right_col hr {
    color: #32495b;
    margin-left: 92px;
    margin-right: 95px;
    margin-bottom: 40px;
    margin-top: 80px;
}
/*right col*/

/*mid col*/

.mid_col img {
    height: 150px;
}

.mid_col h3 {
    color: #32495b;
    font-size: x-large;
    font-weight: 700;
}

.mid_col h4 {
    color: #32495b;
    font-weight: 700;
}



.mid_col hr {
    color: #32495b;
    margin-left: 92px;
    margin-right: 95px;
    margin-bottom: 40px;
    margin-top: 80px;
}

/*mid col*/

/*benefit second row end*/

/*fisrst section benefit end*/




/*Second section start*/

.bg_color_gradient {
    background: radial-gradient(circle, rgba(174,175,238,1) 0%, rgba(148,233,228,1) 100%);

}

.results_col_container {
    padding-top: 90px;

}

.title_results h2 {
    font-size: xx-large;
    padding-top: 64px;
    color: white;
}

.title_results p {
    padding-top: 30px;
    color: white;
}


.results_col_one, .results_col_two,
.results_col_three, .results_col_four,
.results_col_five, .results_col_six,
.results_col_seven, .results_col_eight {
    width: 25%;
}

.results_col_one {
    padding-top: 20px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.results_col_one img {
    height: 40px;
}

.txt_results :first-child {
    color: white;
    padding-bottom: 20px;
    font-size: -webkit-xxx-large;
    font-weight: 600;
    padding-top: 17px;
}

.txt_results :last-child {
    color: white;
    font-size: small;
    padding-bottom: 25px;
}

.results_col_two {
    padding-top: 20px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.results_col_two img {
    height: 40px;
}


.results_col_three {
    padding-top: 20px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.results_col_three img {
    height: 40px;
}

.results_col_four {
    padding-top: 20px;
    border-bottom: 1px solid white;
}

.results_col_four img {
    height: 40px;
}


.results_col_five {
    padding-top: 20px;
    border-right: 1px solid white;
}

.results_col_five img {
    height: 40px;
}

.results_col_six {
    padding-top: 20px;
    border-right: 1px solid white;
}

.results_col_six img {
    height: 40px;
}

.results_col_seven {
    padding-top: 20px;
    border-right: 1px solid white;
}

.results_col_seven img {
    height: 40px;
}

.results_col_eight {
    padding-top: 20px;
}

.results_col_eight img {
    height: 40px;
}
/*Second section end*/









/*MAIN END*/




/*FOOTER START*/
/*FOOTER END*/

